/* Sotirov-BG.Net Default Screen and Print Styles
 *
 * Written by Georgi D. Sotirov <gdsotirov@gmail.com>
 * This stylesheet conforms to the CSS 2.1 Specification from W3 Organization.
 * https://www.w3.org/TR/CSS21/
 *
 * Media: screen, print
 */

/* Screen media specific styles */
@media screen {
  abbr:hover, abbr[title] {
    cursor: help;
  }

  body {
    color: #000;
    background: #fff url(/img/back) repeat-x;
    font-family: Helvetica, Arial, sans-serif;
  }

  div#server_itself,
  div#server_info_status_stats {
    float: left;
  }

  div#server_info_status_stats h2:first-child {
    margin-top: 0;
  }

  div#server_info_status_stats h2 {
    border-bottom: none;
  }

  div#news table {
    padding-left: 1em;
  }

  h1 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h2 {
    border-bottom: 1px solid #ddd;
    padding-left: 0.3em;
  }
}

/* Print media specific styles */
@media print {
  h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
  }

  h2 {
    border-bottom: 1px solid #000;
  }

  map#poweredbybar {
    display: none;
  }
}

/* Common styles */
@media screen, print {
  abbr {
    font-style: normal;
  }

  abbr[title] {
    border-bottom: thin dotted;
  }

  footer {
    clear: both;
    font-size: small;
    text-align: center;
  }

  p.generated {
    color: #ccc;
    background-color: inherit;
    font-size: xx-small;
  }

  div#server_info_status_stats pre,
  div#server_info_status_stats p {
    padding-left: 2em;
  }

  div.clear {
    clear: both;
  }

  div.left {
    float: left;
  }

  div.logo_pic {
    left: 0.2em;
    position: absolute;
    top: 0.2em;
  }

  img {
    border: none;
  }

  img#server_pic {
    margin: 0em 1em 1em 1em;
  }

  h1 {
    text-align: center;
  }

  h2 {
    padding-left: 0.3em;
  }

  h3 {
    padding-left: 0.5em;
  }

  p.code {
    font-family: monospace;
  }

  nav#Main {
    text-align: center;
  }

  nav ul {
    list-style: none;
  }

  nav#News ul {
    padding-left: 0;
  }

  nav ul li {
    display: inline;
  }

  nav#Main ul li:first-child::before {
    content: "[ ";
  }

  nav#Main ul li:last-child::after {
    content: " ]";
  }

  nav#News ul li:last-child::after {
    content: "";
  }

  nav ul li:after {
    content: " | "
  }

  p.text_p {
    text-align: justify;
    text-indent: 1em;
  }

  ul.inline {
    margin-left: 3em;
    padding-left: 1em;
  }

  ul.Last10 {
    list-style: none;
    padding-left: 0;
  }

  ul {
    margin-left: 1em;
    padding-left: 1em;
  }

  ul, ol {
    list-style: disc;
  }

  ul ul, ul ol, ol ul, ol ol {
    list-style: circle;
  }

  ul ul ul, ul ul ol, ul ol ul,
  ul ol ol, ol ul ul, ol ul ol,
  ol ol ul, ol ol ol {
    list-style: square;
  }

  /* Pseudo classes */
  .align-right {
    text-align: right;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .align-justify {
    text-align: justify;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  .error {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
  }

  .new {
    color: #f00;
    background-color: inherit;
    font-weight: bold;
  }

  .mono-font {
    font-family: monospace;
  }
}

