/* News styles
 * Written by Georgi D. Sotirov <gdsotirov@dir.bg>
 * $Id: news.css,v 1.3 2006/05/22 20:23:41 gsotirov Exp $
 */

@media screen {
  div#content {
    margin-right: 13em;
  }

  div#header {
    border-bottom: 2px solid #aaa;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  div#header h1 {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  div#navigation ul {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0.3em;
  }

  div#sidebar {
    float: right;
    width: 12em;
  }

  div#sidebar map {
    border: 2px solid #aaa;
    margin-bottom: 1em;
  }

  div#sidebar h2 {
    background-color: #ddd;
    border-bottom: 2px solid #aaa;
    margin-top: 0;
  }

  map#nav_gen {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  map#nav_gen li {
    display: inline;
  }
}
