/* Sotirov-BG.Net News styles
 * Written by Georgi D. Sotirov <gdsotirov@dir.bg>
 */

@media screen {
  div#content {
    margin-right: 14em;
    padding-left: 1em;
  }

  div#header {
    border-bottom: 2px solid #aaa;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  div#header h1 {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  div#navigation ul {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0.3em;
  }

  div#sidebar {
    float: right;
    width: 13em;
  }

  div#sidebar div {
    border: 2px solid #aaa;
    margin-bottom: 1em;
  }

  div#sidebar input[type=text] {
    background-color: inherit;
    border: 1px solid #aaa;
  }

  div#sidebar h2 {
    background-color: #ddd;
    border-bottom: 2px solid #aaa;
    padding: 0.1em;
    margin: 0;
  }

  div#sidebar ul, div#sidebar form, div#sidebar p {
    padding: 0.5em;
    margin: 0;
  }

  div#nav_gen {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  div#nav_gen li {
    display: inline;
  }

  div.news {
    clear: left;
  }

  div.body p {
    text-align: justify;
    text-indent: 1em;
  }

  div.body p.img_left {
    float: left;
    margin: 0 1em 1em 0;
  }

  h3 {
    border-bottom: 1px solid #aaa;
  }

  .token1 {
    background-color: #ff6;
    color: #000;
  }

  .token2 {
    background-color: #aff;
    color: #000;
  }

  .token3 {
    background-color: #9f9;
    color: #000;
  }

  .token4 {
    background-color: #f99;
    color: #000;
  }

  .token5 {
    background-color: #f6f;
    color: #000;
  }
}
