/* Sotirov-BG.Net News styles
 * Written by Georgi D. Sotirov <gdsotirov@dir.bg>
 */

@media screen {
  header {
    border-bottom: 2px solid #aaa;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  header h1 {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  nav#NewsNav {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  nav#NewsNav li:last-child:after {
    content: "";
  }

  section#content {
    margin-right: 14em;
    padding-left: 1em;
  }

  section#sidebar {
    float: right;
    width: 13em;
  }

  section#sidebar article {
    border: 2px solid #aaa;
    margin-bottom: 1em;
  }

  /* Display headers of articles, but not of section.
   * The following two rule are just to pass HTML validation as
   * section needs header.
   */
  section#sidebar h2:first-child {
    display: none;
  }

  section#sidebar article h2:first-child {
    display: block;
  }

  section#sidebar input[type=text] {
    background-color: inherit;
    border: 1px solid #aaa;
  }

  section#sidebar h2 {
    background-color: #ddd;
    border-bottom: 2px solid #aaa;
    padding: 0.1em;
    margin: 0;
  }

  section#sidebar ul {
    list-style: none;
    margin-left: 0.3em;
  }

  section#sidebar ul, section#sidebar form, section#sidebar p {
    padding: 0.5em;
    margin: 0;
  }

  div.news {
    clear: left;
  }

  div.body p {
    text-align: justify;
    text-indent: 1em;
  }

  div.body p.img_left {
    float: left;
    margin: 0 1em 1em 0;
  }

  h3 {
    border-bottom: 1px solid #aaa;
  }

  .token1 {
    background-color: #ff6;
    color: #000;
  }

  .token2 {
    background-color: #aff;
    color: #000;
  }

  .token3 {
    background-color: #9f9;
    color: #000;
  }

  .token4 {
    background-color: #f99;
    color: #000;
  }

  .token5 {
    background-color: #f6f;
    color: #000;
  }
}
