/* Sotirov-BG.Net Default Speech Style
 *
 * Written by Georgi D. Sotirov <gdsotirov@dir.bg>
 * This stylesheet conforms to the CSS 3 Speech Module Candidate Recommendation
 * from World Wide Web Consortium (W3C).
 * https://www.w3.org/TR/css-speech-1/
 *
 * Media: speech
 */

/* Code in this stylesheet is partially based on the example code given in the
 * CSS 2.1 Specification at https://www.w3.org/TR/CSS21/
 */

@media speech {
  a:link {
    voice-family: harry, male;
  }

  a:visited {
    voice-family: betty, female;
  }

  a:active {
    voice-family: betty, female;
    voice-range: high;
    voice-pitch: x-high;
  }

  abbr {
    speak-as: spell-out;
  }

  acronym {
    speak-as: normal;
  }

  b {
    voice-pitch: medium;
    voice-range: medium;
    voice-stress: strong;
  }

  dt {
    voice-stress: strong;
  }

  h1, h2, h3, h4, h5, h6 {
    voice-family: paul, male;
    voice-stress: reduced;
  }

  h1 {
    voice-pitch: x-low;
    voice-range: +75%;
  }

  h2 {
    voice-pitch: x-low;
    voice-range: +60%;
  }

  h3 {
    voice-pitch: low;
    voice-range: +45%;
  }

  h4 {
    voice-pitch: medium;
    voice-range: +30%;
  }

  h5 {
    voice-pitch: medium;
    voice-range: +15%;
  }

  h6 {
    voice-pitch: medium;
    voice-range: +5%;
  }

  i {
    voice-pitch: medium;
    voice-range: medium;
    voice-stress: moderate;
  }

  li, dt, dd {
    voice-pitch: medium;
  }

  pre, code, tt {
    voice-pitch: medium;
    voice-range: medium;
    speak-as: literal-punctuation;
    voice-stress: none;
  }
}
