/* Sotirov-BG.Net Default Teletype Styles
 *
 * Written by Georgi D. Sotirov <gdsotirov@dir.bg>
 * This stylesheet conforms to the CSS 2.1 Specification from W3 Organization.
 * http://http://www.w3.org/TR/CSS21/
 * 
 * Media: tty
 */

a:before {
  content: "[";
}

a:after {
  content: "]";
}
