/* Sotirov-BG.Net Default Teletype Styles
 *
 * Written by Georgi D. Sotirov <gdsotirov@dir.bg>
 * $Id: tty.css,v 1.2 2007/09/05 14:04:08 gsotirov Exp $
 * This stylesheet conforms to the CSS 2.1 Specification from W3 Organization.
 * http://http://www.w3.org/TR/CSS21/
 * 
 * Media: tty
 */

a:before {
  content: "[";
}

a:after {
  content: "]";
}
